.cardvideo {
  width: 300px;
  cursor: pointer;
}

.cardvideo > img {
  width: inherit;
}

.info-l {
  display: flex;
}

.info-l > div {
  padding: 5px;
}

.title-video {
  font-size: 1rem;
  line-height: 1.4rem;
  overflow: hidden;
  display: block;
  max-height: 4rem;
  -webkit-line-clamp: 2;
  display: box;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
  font-weight: 800;
}
