.recomendV {
  flex: 0.85;
  background: #f9f9f9;
  padding: 20px 0px;
  padding-bottom: 0;
  overflow: auto;
  height: 90vh;
}
.recomendV.all {
  flex: 1;
}
.videos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
