.chanelrow {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-evenly;
  width: 100%;
  cursor: pointer;
}

.logo {
  width: 120px !important;
  height: 120px !important;
}

.info {
  display: block;
  margin-left: 2rem;
}

.info > p {
  color: #606060;
  font-size: small !important;
}

.description {
  font-size: 1rem;
  line-height: 1.4rem;
  overflow: hidden;
  display: block;
  max-height: 4rem;
  -webkit-line-clamp: 2;
  display: box;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
}
