.chanelrow {
  display: flex;
  align-items: center;
  width: 70%;
}

.logo {
  width: 120px !important;
  height: 120px !important;
}

.info {
  display: block;
  margin-left: 2rem;
}

.info > p {
  color: #606060;
  font-size: small !important;
}
