.VideoRow {
  display: flex;
  max-width: 700px;
  max-height: 200px;
  align-items: center;
  margin-top: 2.5rem;
  justify-content: space-between;
  cursor: pointer;
}

.VideoRow > img {
  width: 45%;
}
