.recomendV{
        flex: 0.8;
        background: #f9f9f9;
        padding: 40px;
        padding-bottom: 0;
}
.recomendV.all{
        flex: 1;
}
.videos{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
}
