.searchpage{
        flex: 0.8;
        padding:2rem .5rem;
        background: #F9F9F9;
}

.searchpage.all{
        flex: 1;
}

.filter{
        display: flex;
        border-bottom: 1px solid lightgrey;
        padding:  1rem 0;
        color: grey;
        align-items: center;
        margin-bottom: 1rem;

}

hr{
        color: lightgrey;
        margin-top: 2rem;
}
