.sidebar{
        flex: 0.2;
}
.sidebar.close{
        display: none;
}

.sidebar > hr{
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: lightgrey;
        border: 0;
        height: 1px;
}

.sidebarRow{
        display: flex;
        align-items: center;
        padding: 10px 20px;
}

.row-title{
        flex: 1;
        margin-left: 20px;
        font-size: 17px;
        font-weight: 50px;
}

.row-icon{
        color: grey;
        font-size: large !important;
}

.sidebarRow:hover{
        background-color: lightgrey;
        cursor:pointer;
}

.sidebarRow:hover >.row-icon {
        color: red;
}


.sidebarRow:hover > .row-title{
        font-weight: bold;
}

.sidebarRow.select{
        background: lightgrey;
}

.sidebarRow.select> .row-icon{
        color: red;
}

.link{
        text-decoration: none;
        color: black;
}
